<!DOCTYPE HTML>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <title>Archive</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row mb-2">
        <div th:each="article: ${articles}" class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary" th:text="${article.category.name}"></strong>
                    <a th:href="@{/articles/{slug}(slug=${article.slug})}" class="link">
                        <h3 class="mb-0" th:text="${article.title}"></h3>
                    </a>
                    <div class="mb-1 text-body-secondary" th:text="${#temporals.format(article.created, 'dd MMMM yyyy')}"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>